/* .formulario-um{

    display: block;
    justify-content: center;

} */

form{

    align-items: center;
    
    
    display: block;
    justify-content: center;
    padding-bottom: 100px;

}

input {
    height: 10px;
    width: 300px;
}

label{
    text-align: left;
}
